@import '../../../../styles-variables';
@import "~leaflet/dist/leaflet.css";

.wrapper {
  margin: 20px;
}

.main-heading {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0 20px 0;
}

mat-card {
  cursor: pointer;
  margin: 0 0 20px 0;
  // padding: 10px;
  display: flex;
  mat-card-header {
    flex: 1 0 auto;
    mat-card-title {
      font-size: 14px;
    }
    mat-card-subtitle {
      font-size: 11px;
      margin: 5px 0 0 0;
    }
  }
  
}

.map-frame {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  #map {
    height: 100%;
    max-height: 490px;
    width: 100%;
    background-color: white;
  }
}

form {

  input {
    width: 100%;
    margin-bottom: 20px;
  }
}