<div class="background">
  <div class="gradient">
    <div class="container">
      <div class="actions">
        <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="primary" routerLink="../map">
          {{ 'anms.features.map' | translate }}
        </a>
        <br>
      </div>
    </div>
  </div>
  <div class="container" rtl>
    <div class="contributors" [ngClass]="routeAnimationsElements">
      <h2>{{ 'anms.about.contributors.title' | translate }}</h2>
      <div class="contributors-wrapper">
        <a class="contributor" href="#">
          <img src="https://ca.slack-edge.com/T1H4XT8DV-U8CEJQYNT-603ad36a6898-512">
          <span>Alexander Ryzhkov</span>
        </a>
        <a class="contributor" href="#">
          <img src="https://ca.slack-edge.com/T1H4XT8DV-UDFCW1XV3-fb478e8508c6-512">
          <span>Aleksandra Strutinskaia</span>
        </a>
        <a class="contributor" href="#">
          <img src="https://ca.slack-edge.com/T1H4XT8DV-U7QLKE2TG-54e3afbc39dd-512">
          <span>Sergei Sergienko</span>
        </a>
      </div>
    </div>
  </div>
</div>
